// Colors
$primary: #f78142;
$light-primary: #ff9a64;
$dark-grey: #636363;
$grey: #9e9e9e;
$light-grey: #d8d8d8;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

$border-radius: 16px;
